@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap'); 

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.V,.IT{
  color:#512da8;
}


body {
  background: linear-gradient(to right, #e2e2e2, #c9d6ff);  
  min-height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center; 
  overflow-x: hidden;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
  --color-default:#004f83;
  --color-second:#0067ac;
  --color-white:#fff;
  --color-body:#e4e9f7;
  --color-light:#e0e0e0;
}


*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}


.sidebar{
  min-height: 100vh;
  width: 70px;
  padding: 6px 10px;
  z-index: 99;
  background-color: var(--color-default);
  transition: all .5s ease;
  position: fixed;
  top:0;
  left: 0;
}

.sidebar.open{
  width: 250px;
}

.sidebar .logo_details{
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}

.sidebar .logo_details .icon{
  opacity: 0;
  transition: all 0.5s ease ;
}

.sidebar .logo_details .logo_name{
  color:var(--color-white);
  font-size: 22px;
  font-weight: 600;
  opacity: 0;
  transition: all .5s ease;
}

.sidebar.open .logo_details .icon,
.sidebar.open .logo_details .logo_name{
  opacity: 1;
}

.sidebar .logo_details #btn{
  position: absolute;
  top:50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all .5s ease;
}

.sidebar.open .logo_details #btn{
  text-align: right;
}

#logos {
  width: 40px;
  height: 40px;
}
.sidebar i{
  color:var(--color-white);
  height: 60px;
  line-height: 60px;
  min-width: 50px;
  font-size: 25px;
  text-align: center;
}

.sidebar .nav-list{
  margin-top: 20px;
  height: 100%;
}

.sidebar li{
  position: relative;
  margin:8px 0;
  list-style: none;
}

.sidebar li .tooltip{
  position: absolute;
  top:-20px;
  left:calc(100% + 15px);
  z-index: 3;
  background-color: var(--color-white);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 14px;
  font-size: 15px;
  font-weight: 400;
  border-radius: 5px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
}

.sidebar li:hover .tooltip{
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top:50%;
  transform: translateY(-50%);
}

.sidebar.open li .tooltip{
  display: none;
}

.sidebar input{
  font-size: 15px;
  color: var(--color-white);
  font-weight: 400;
  outline: none;
  height: 35px;
  width: 35px;
  border:none;
  border-radius: 5px;
  background-color: var(--color-second);
  transition: all .5s ease;
}

.sidebar input::placeholder{
  color:var(--color-light)
}

.sidebar.open input{
  width: 100%;
  padding: 0 20px 0 50px;
}

.sidebar .bx-search{
  position: absolute;
  top:50%;
  left:0;
  transform: translateY(-50%);
  font-size: 22px;
  background-color: var(--color-second);
  color: var(--color-white);
}

.sidebar li a{
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  text-decoration: none;
  background-color: var(--color-default);
  position: relative;
  transition: all .5s ease;
  z-index: 12;
}

.sidebar li a::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  background-color: var(--color-white);
  border-radius: 5px;
  transition: transform 0.3s ease-in-out;
  transform-origin: left;
  z-index: -2;
}

.sidebar li a:hover::after{
  transform: scaleX(1);
  color:var(--color-default)
}

.sidebar li a .link_name{
  color:var(--color-white);
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  pointer-events: auto;
  transition: all 0.4s ease;
  pointer-events: none;
  opacity: 0;
}

.sidebar li a:hover .link_name,
.sidebar li a:hover i{
  transition: all 0.5s ease;
  color:var(--color-default)
}

.sidebar.open li a .link_name{
  opacity: 1;
  pointer-events: auto;
}

.sidebar li i{
  height: 35px;
  line-height: 35px;
  font-size: 18px;
  border-radius: 5px;
}

.sidebar li.profile{
  position: fixed;
  height: 60px;
  width: 70px;
  left: 0;
  bottom:-8px;
  padding:10px 14px;
  overflow: hidden;
  transition: all .5s ease;
}

.sidebar.open li.profile{
  width: 250px;
}

.sidebar .profile .profile_details{
  display: flex;
  align-items: center;
  flex-wrap:  nowrap;
}

.sidebar li img{
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}

.sidebar li.profile .name,
.sidebar li.profile .designation{
  font-size: 15px;
  font-weight: 400;
  color:var(--color-white);
  white-space: nowrap;
}

.sidebar li.profile .designation{
  font-size: 12px;
}

.sidebar .profile #log_out{
  position: absolute;
  top:50%;
  right: 0;
  transform: translateY(-50%);
  background-color: var(--color-second);
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.sidebar.open .profile #log_out{
  width: 50px;
  background: none;
}

.text {
  height: 10%;
}
.text a{
  display: flex;
  align-items: center;
  text-decoration: none;
}

.text a img{
  display: inline-block;
  align-items: center;
  width: 60px;
  height: 60px;
  padding: 10px;
}

.con {
  color: black;
}

.home-section{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  padding: 0 2% 1% 2%;
  top:0;
  gap: 20px;
  left:78px;
  width: calc(100% - 78px);
  transition: all .5s ease;
  z-index: 2;
}

.home-section .text{
  display: inline-block;
  color:var(--color-default);
  font-size: 25px;
  font-weight: 500;
  margin: 18px;
}

.sidebar.open ~ .home-section{
  left:250px;
  width: calc(100% - 250px);
}

@media (max-width: 800px) {
  .hideOnMobile {
    display: none;
  }
  .menu-button {
    display: block;
  }
  .Row{
    flex-direction: column;
  }
}


.Main-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin:0 30px 0 30px;
  background-color: white;
  width: 100%;
  height: 94%;
  overflow: auto;
  border-radius: 10px;
}

.text {
  padding: 0;
  height: 6%;
  width: 100%;
  margin: 2px 2px 2px 2px;
}

.text a{
  padding: 0;
}

.nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  height: 6%;
  width: 100%;
  /* background-color: rgb(103, 175, 175); */
  background-color: #0067ac;
  padding: 0 5px;
}

.content{
  display: flex;
  height: 94%;
  width: 100%;
  padding: 10px;
  background-color: white;
  flex-direction: row;
  gap: 10px;
}

.dropdown-container {
  background-color: #0067ac;
  padding: 10px;
  color: white;
  text-align: center;
}
#hostelDropdown {
  font-size: 16px;
  color: black;
}

.scroll {
  width: 25%;
  height: 100%;
  /* background-color: black; */
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  z-index: 2;
  overflow: auto;
  padding: 0.5%;
}

.preview {
  width: 75%;
  height: 100%;
  z-index: 2;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1% 3%;
  gap: 15px;
  overflow: auto;
}

.preview-image {
  width: 100%;
  height: 90%;
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.7);
}

.preview-image img {
  width: 100%;
  height: 100%;
  object-fit: fit;
  border-radius: 10px;
}

.options{
  width: 100%;
  height: 100%;
  top: 10px;
  order: solid white;
  background-color: white;
  list-style: none;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 3% 2%;
  overflow: auto;
  overflow-x:hidden;
}

.options div{
  width: 90%;
  height: 100%;
  padding: 5%;
  background-color: white;
  justify-content: center;
  height: 10%;
  font-weight: bold;
  font-size: 17px;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.6);
}

.options div:hover {
  background-color: #0067ac;
  cursor: pointer;
  color: white;
}

.options div.clicked{
  background-color: white;
  cursor: pointer;
  color: white;
}


.popup {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.popup-room {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.navbar {
  background-color: #333;
  padding: 10px;
}

.navbar .close{
  float: right;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
}

.popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
}



.close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  cursor: pointer;
}

.dis {
  padding: 1em 2em;
  border: none;
  width: 40%;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 5px;
  text-transform: uppercase;
  cursor: pointer;
  color: #0067ac;
  transition: all 1000ms;
  font-size: 15px;
  position: relative;
  overflow: hidden;
  /* outline: 2px solid #2c9caf; */
  outline: 2px solid #0067ac;

}

.dis:hover {
  color: #0f0101;
  transform: scale(1);
  /* outline: 2px solid #70bdca; */
  outline: 2px solid #0067ac;
  /* box-shadow: 4px 5px 17px -4px #268391; */
}

.dis::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  /* background-color: #2c9caf; */
  background-color: #0067ac;
  transform: skewX(45deg);
  z-index: -1;
  transition: width 500ms;
}
.dis:hover::before {
  width: 170%;
}

.buttons-dis {
  width: 100%;
  /* background-color: black; */
  display: flex;
  justify-content: center;
  gap: 70px;
  padding: 15px;
}

.Data{
  width:  100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.Data p{
  padding: 5px 10px 5px 10px;
}

.Data h3,h2{
  padding: 15px 0px 10px 0px;
}

.Data ul{
  padding: 0 30px;
}

.head_nav{
  background-color: #0067ac;
  padding: 0px 10px;
  border-radius: 10px;
  color: white;
}

.data_content{
  background-color: white;
  border-radius: 0px 0px 10px 10px;
  padding: 20px 10px;
}

.data_div{
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  background-color: #0067ac;
}

.popup-content-room {
  position: absolute;
  top: 50%;
  left: 52%; 
  width: 90%;
  height: 90%;
  display: flex;
  padding: 40px 0px;
  align-items: center;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  background-color: #fff;
}

.carousel {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(144, 173, 236);
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.carousel-slide {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.carousel-slide {
  display: none;
}

.carousel-slide.active {
  display: flex;
}

.carousel img {
  width: 100%;
  height: 100%;
  object-fit: fit;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}



.prev,
.next {
  position: absolute;
  /* top: 50%; */
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
  padding: 40px 20px;
  z-index: 100;
  font-size: 24px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.prev:hover, .next:hover {
  background-color: #c9d6ff;
  color: black;
}

.slide-next {
  width: 10%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.slide-previous {
  width: 10%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

/* li {
  list-style: none;
} */

.Data ul {
    list-style: none;
    padding-left: 10px;
}

.Data li{
  padding: 3px;
}